html
  body
    ion-view(view-title='Szukaj pubu/baru')
      ion-content(has-header='true', has-tabs='true')
        ion-list
          .list.list-inset
            label.item.item-input
              i.icon.ion-search.placeholder-icon
              input(type='text', placeholder='Szukaj', ng-model="form.string")
            label.item.item-input
              i.icon.ion-search.placeholder-icon
              input(type='text', placeholder='Miasto', ng-model="form.city")
          .row
            .col
              button.button.button-block.button-positive(ng-click="search()")
                | Szukaj
              button.button.button-block.button-positive.ion-location(ng-click="searchGps()")
                |  Szukaj w pobliżu
