html
  body
    ion-tabs.tabs-icon-top.tabs-default.tabs-balanced
      ion-tab(title='Szukaj baru/pubu', icon='icon ion-search', ui-sref="placesSearch")
        ion-nav-view(name='places-search')
      ion-tab(title='Ulubione', icon='icon ion-star', ui-sref="placesFavourites")
        ion-nav-view(name='places-favourites')
      ion-tab(title='Twoje konto', icon='icon ion-person', ui-sref="userProfile")
        ion-nav-view(name='user-profile')
