html
  body
    ion-view
      ion-nav-title
        a.button.icon-left.ion-chevron-left.button-clear(ui-sref="placesSearch")
        {{ searching.title }}
      ion-content(has-header='true', has-tabs='true')
        ion-list
          ion-item(ng-repeat='place in places', type='item-text-wrap', href='#/tab/places/{{place.id}}')
            h3 &lcub;&lcub;place&period;name&rcub;&rcub;
            p &lcub;&lcub;pet&period;description&rcub;&rcub;
