{ 
  "name": "huBEERt.config",
  "constants": {
    "ENVIR":
    {
      "ENV_NAME": "production",
      "BACKEND_URL": "http://api.hubeert.com",
      "API_URL": "http://api.hubeert.com/api/v1/",
    }
  }
}
